<div class="jumbotron">
    <p class="lead">Broadcast administration Page</p>
    <p class="label-info">Available messages</p>
    <ul class="list-group">
    {{# each messagesList as |val key|}}
        <li class="list-group-item">{{ val.name }}: {{ val.message }}</li>
    {{/each}}
    </ul>
</div>
<div class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/" role="button">Return Home</a>
            </div>
        </div>
    </div>
</div>
