<div class="jumbotron">
    <h1 class="display-4">Welcome to the Langroo Core Administration Website</h1>
    <p class="lead">If you are seeing this page, this means that the Roo-Core is working properly and can be accessed
        from the Web</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="privacy-policy" role="button">View Privacy Policy</a>
</div>
